<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <title>Great Number Game</title>
</head>
<body>
    <div class="jumbotron">
        <h1 class='text-center'>Welcome to the Great Number Game!!!</h1>
    </div>
    <div class="container d-flex flex-column align-items-center">
        <h3 class="text-center">I am thinking of a number between 1 and 100 (inclusive)</h3>
        <div class="container bg-dark p-3 mt-4" style="width:400px; height:200px">
            <form action="/guess" method="POST" class="d-flex flex-column justify-content-between align-items-center">
                <label for='guess' class='text-warning text-middle'>Take a guess!!</label>
                <input type="text" name='guess' class="w-75">
                <input type="submit" value="Guess" class='bg-warning w-50'>
            </form>
        </div>
        <h3>Latest guess: {{ session['guess'] }} </h3>
        <h3>The number: {{ session['secret_number'] }}</h3>
        <h4>
        {% if session['guess'] == None %}
        
        {% elif session['guess'] == session['secret_number'] %}
        HOORAY!
        {% elif session['guess'] > session['secret_number'] %}
        Guess is too high
        {% else %}
        Guess is too low
        {% endif %}
        </h4>
    </div>
</body>
</html>