<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <title>Great Number Game</title>
</head>
<body>
    <div class="container">
        <div class="row mt-4">
            <h1 class='text-center'>Welcome to the Great Number Game!!!</h1>
        </div>
        <div class="row text-center mb-4">
            <h3>I am thinking of a number between 1 and 100 (inclusive)</h3>
        </div>
        {% if session['guess'] != None and session['guess'] < session['secret_number'] %}
        <div class="row mb-4 text-center">
            <div class="col">
                <h4 class="btn btn-danger p-4">{{ session['guess'] }} is too low</h4>
            </div>
        </div>
        {% elif session['guess'] != None and session['guess'] > session['secret_number'] %}
        <div class="row mb-4 text-center">
            <div class="col">
                <h4 class="btn btn-danger p-4">{{ session['guess'] }} is too high</h4>
            </div>
        </div>
        {% endif %}
        <div class="row justify-content-center mb-3">
            <div class="col-5">
                <form action="/guess" method="POST" class="bg-dark p-4">
                    <div class="row">
                        <label for='guess' class='text-warning text-center mb-2'>Take a guess!!</label>
                    </div>
                    <div class="row">
                        <input type="text" name='guess' class="w-100" placeholder="Type integer">
                    </div> 
                    <div class="row pt-3">
                        <div class="col d-flex justify-content-center">
                            <input type="submit" value="Guess" class='bg-warning rounded-pill p-2 w-25'>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row d-flex flex-column text-center">
            <h3>Latest guess: {{ session['guess'] }} </h3>
            <h3>The number: {{ session['secret_number'] }}</h3>
        </div>
        {% if session['guess'] == session['secret_number'] %}
        <div class="row text-center">
            <div class="col">
                <h4 class="btn btn-success p-4">NICE! {{ session['guess'] }} is the number</h4>
            </div>
        </div>
        {% endif %}
        
    </div>
</body>
</html>